*.o
adb*.xml
audioDB
audioDB.1
libaudioDB*
adb.nsmap
adb.wsdl
adb.xsd
cmdline.c
cmdline.h
soapC.cpp
soapClient.cpp
soapClientLib.cpp
soapH.h
soapObject.h
soapProxy.h
soapServer.cpp
soapServerLib.cpp
soapStub.h
