test.out
test.err
testdb*
testfeature*
testoutput
testpower
testquery
test-expected-output
test-output
test-restict-list
test-expected-output1
test-expected-output2
testkl.txt
testquerypower
test1
test2
test3
testtimes
testFeatureList.txt
testPowerList.txt
test-restrict-list
test-query-output
test-expected-query-output